# ============= Docker Compose Env =============== #
SPRING_PROFILES_ACTIVE=dev
# ============= Common ======================= #
COMMON_KAFKA_BOOTSTRAP_SERVERS=
COMMON_AUTH_SERVICE_URL=
COMMON_BILLING_SERVICE_NAME=
COMMON_BILLING_SERVICE_GRPC_PORT=