# ========== Patient-Service ========== #
LOGGING_LEVEL_ROOT=info # Options [error, warn, info, debug, trace]

# Billing gRPC
BILLING_SERVICE_GRPC_ADDRESS=
BILLING_SERVICE_GRPC_PORT=

# Kafka
SPRING_KAFKA_BOOTSTRAP_SERVERS=

# Patient-service-db (Postgresql)
SPRING_DATASOURCE_URL='jdbc:postgresql://server:port/dbname'
SPRING_DATASOURCE_USERNAME=

# Secrets
SPRING_DATASOURCE_PASSWORD=<secret>
